* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/online_shopping4.jpg);
  background-size: cover;
}

.first-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
header {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.logo {
  margin-right: 20px;
  height: 60px;
  width: 60px;
}

.second-header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

nav a:hover {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.274);
  border: none;
}

.part-two {
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 200px;
  padding: 20px 30px;
}

.account-creation {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #ffcc00;
  padding: 15px;
  font-weight: bold;
  border: none;
}
.account-creation:hover {
  background-color: rgb(211, 173, 21);
}

.part-two h2 {
  margin-bottom: 15px;
}

.part-two p {
  /* flex: 1; */
  word-wrap: break-word;
  margin-bottom: 40px;
}

section {
  width: 1200px;
  justify-content: center;
}

.part-twoo {
  max-width: 600px;
  padding: 20px;
  /* width: 100%; */
}
.shopping {
  max-width: 400px;
  border-radius: 10px;
}
.shopping:hover {
  transform: scale(1.03);
}

.part-three {
  display: flex;
  margin-left: 200px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.part-threee {
  padding: 30px;
  max-width: 600px;
}

.part-threee h2 {
  color: #ffcc00;
  margin-bottom: 30px;
}

.part-threee li {
  list-style: none;
  margin-bottom: 20px;
}

.part-three li::before {
  content: "\2714";
  color: lightgreen;
  margin-right: 10px;
}

.shoppingg {
  max-width: 400px;
  border-radius: 10px;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shoppingg:hover {
  transform: scale(1.03);
  box-shadow: 15px 0px 32px 0px rgba(0, 0, 0, 0.151);
}

.part-four h2 {
  text-align: center;
  color: #ffcc00;
  margin-bottom: 20px;
}

.part-four-one {
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 200px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.part-four-one h4 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.part-four-two {
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 200px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.part-four-two h4 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.part-four-three {
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 200px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.part-four-three h4 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.part-four-four {
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 200px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.part-four-four h4 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.part-five {
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 200px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.part-five h2 {
  color: #ffcc00;
  margin-bottom: 10px;
  text-align: center;
}

.part-five blockquote {
  padding: 10px;
  font-size: 20px;
  border-left: 5px solid #ffcc00;
  margin: 20px;
}
.part-five cite {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.63);
}

aside {
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 200px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-left: 5px solid #ffcc00;
}

aside h3 {
  color: #ffcc00;
  margin-bottom: 10px;
}

aside li {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.part-six {
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 200px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.part-six h2 {
  text-align: center;
  color: #ffcc00;
  margin-bottom: 10px;
}

.part-six p {
  text-align: center;
  margin-bottom: 10px;
}

.part-six input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.part-six button {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffcc00;
  font-weight: bold;
  margin-left: 10px;
  /* margin-bottom: 20px; */
}

.email {
  text-align: center;
}

footer {
  margin-top: 20px;
  background-color: black;
  text-align: center;
  padding: 20px;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #ffcc00;
}
